.git
.gitattributes
.env
.env.*
vendor
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
tests
phpunit.xml
build-css.bat
Dockerfile
compose.yaml
.dockerignore
README.md
